<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <title>Request Header Parser Microservice</title>
  </head>
  <body>
    <div class="container">     
        <div class="row justify-content-center">
          <div class="card border-secondary m-4 shadow">
            <div class="card-header text-white bg-secondary text-monospace"><h3 class="mb-0">API Project: Request Header Parser Microservice</h3></div>
            <div class="card-body">
              I can get the IP address, preferred languages (from header Accept-Language) and system infos (from header User-Agent) for my device.
            </div>
            <div class="card-header text-white bg-secondary text-monospace font-weight-bold">Example usage</div>
            <div class="card-body">
              <a href="https://oscortiz-request-header-parser-microservice.glitch.me/api/whoami">[project_url]/api/whoami</a>
            </div>
            <div class="card-header text-white bg-secondary text-monospace font-weight-bold">Example output</div>
            <div class="card-body">
              <pre><code>{&NewLine;  "ipaddress": "88.20.14.88",&NewLine;  "language": "es-ES,es;q=0.9",&NewLine;  "software": "Mozilla/5.0 &lpar;X11; Linux x86_64&rpar; AppleWebKit/537.36 &lpar;KHTML, like Gecko&rpar; Chrome/71.0.3578.98 Safari/537.36"&NewLine;}</code></pre>
            </div>            
          </div>
        </div>         
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>    
  </body>
</html>
